#app { font-family: 'Avenir', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; color: #2c3e50;}
button { display:inline-block; margin:10px auto;}
h3 { margin: 40px 0 0;}
ul { list-style-type: none; padding: 0;}
li { display: inline-block; margin: 0 10px; cursor:pointer; color:#eee; list-style:none !important;}
a { color: #42b983; display:inline-block; margin-left:10px; text-decoration:none; color:#333;}
label { width:100px; margin:10px; text-align:right; display:inline-block;}
input { padding:3px 5px;}

.input-row { display:table; width:80%; margin:0 auto;}
label { width:100px; margin:10px; text-align:right; display:inline-block; vertical-align:middle;}
input { padding:3px 5px; height:20px; vertical-align:middle; display:table-cell;}

#header { display:flex; justify-content:flex-end;}

#app {
  .login { width:350px; margin:0 auto; height:350px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:15px; z-index:1; background:rgba(0,0,0,0.05);
    .title { position:relative; padding-top:50px;}
  }
  a { color:#fff;}
}

body { margin:0; padding:0;}
#app:after { position:absolute; top:0; left:0; content:''; display:block; width:100vw; height:100vh; background:url('./assets/images/bg2.jpg') no-repeat; background-size:100% 100%; opacity:0.8 !important; filter:alpha(opacity=80); z-index:-1;}
#app.bgLogin:before { content:''; display:block; width:350px; height:350px; background:url('./assets/images/bg2.jpg') center center; background-size:100vw 100vh; filter:blur(6px); top:50%; left:50%; transform:translate(-50%, -50%); position:absolute; z-index:1;}

.login:before { content:''; display:block; width:100%; height:100%; position:absolute; z-index:-1;}
.title:before { content:''; display:block; position:absolute; top:-25%; left:50%; transform:translate(-50%, -50%); width:100px; height:100px; 
  border-radius:50%; background:red url("./assets/images/frog.jpg"); background-size:cover; }

button, .button{
  background-color: #c47135; border: none; color: #fff; cursor: pointer; display: inline-block; font-size: 1em; font-size: 22px; line-height: 1em; outline: none; position: relative; text-transform: uppercase; margin:8% 5% 0 0; font-weight: 700; width:40%; padding:5% 0;
  a { color:#fff; margin:0;}
  &:last-child { margin-right:0;}
  &:before, &:after { border-color: transparent; -webkit-transition: all 0.25s; transition: all 0.25s; border-style: solid; border-width: 0; content: ""; height: 8%; position: absolute; width: 35%;}
  &:before { border-color: #c47135; border-right-width: 2px; border-top-width: 2px; right: -5px; top: -5px;}
  &:after { border-bottom-width: 2px; border-color: #c47135; border-left-width: 2px; bottom: -5px; left: -5px;}
  &:hover, button.hover { background-color: #c47135;}
  &:hover:before, &.hover:before, &:hover:after, &.hover:after { height: 100%; width: 100%;}
  &#writeBtn, &#joinBtn, &#backBtn { width:120px; height:50px; margin:10px; padding:5px 0; line-height:0;}
}

#wirte-wrap { display:flex; justify-content:center;}
textarea { height:70px;}
.tweet-list { width:40%; margin:25px auto;
  > li { display:block; margin:15px 0; background:rgba(0, 0, 0, 0.2);}
}